<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="adyen_group_all_in_one">
                <group id="adyen_required_settings">
                    <field id="origin_key_domain" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Origin Key domain</label>
                        <config_path>payment/adyen_abstract/origin_key_domain</config_path>
                        <comment>Domain for calculating the origin key value. Use it if you use a headless APP. E.g. "https://youdomain.com"</comment>
                    </field>
                    <field id="pwa_return_path" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Return path</label>
                        <config_path>payment/adyen_abstract/pwa_return_path</config_path>
                        <comment>The return path that needs to be passed to 3rd party payment methods (ie: Klarna) when using headless APP. E.g. "checkout"</comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>